:root {
    --text-color: midnightblue;
    --accent-color: rgb(194, 175, 212);
    --navbar-background-color: gainsboro;

}

body {
    margin: 0px;
    font-family: Source Code Pro;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--navbar-background-color);
    overflow: visible;
    width: 12.5rem!important;
    min-height: 100vh;
}

.navbar_logo {
    font-size: 21px;
    color: var(--text-color);
    color: blueviolet;
}

.navbar_logo i {
    color: rgb(92, 57, 124);
}

.navbar_meau {
    font-size: 17px;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_meau li {
    padding: 8px 12px;
}

.navbar_meau li:hover {
    background-color: var(--accent-color);
    border-radius: 4px ;
}

.navbar_search {
    padding: 0;
}

.navbar_toogleBtn {
    position: absolute;
    right: 32px;  
    font-size: 22px;
    color: var(--accent-color);
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_meau {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_meau li {
        width: 100%;
        text-align: center;
    }

    .navbar_search {
        display: none;
        align-self: center;
    }

    .navbar_toogleBtn {
        display: block;
    }

    .navbar_meau.active,
    .navbar_search.active {
        display: flex;
    }
}